* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: "Faculty Glyphic", sans-serif;
  background-color: rgba(75, 80, 83, 255); /* Dark grey background */
  color: #000; /* Black text */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/* Container */
.container {
  background-color: rgba(
    236,
    236,
    236,
    255
  ); /* Light grey content background */
  width: 80%;
  max-width: 1200px;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 3px 30px 5px rgba(0, 0, 0, 0.5); /* Darker, more expansive shadow */
  margin: 5%;
  position: absolute;
  bottom: 10px;
  top: 1px;
  flex-shrink: 0px;
  flex-grow: 0px;

}

/* Header and Navigation */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48vh;
  margin-top: 0rem;
}

.logo {
  font-weight: semibold;
}
.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #555; /* Slight hover effect */
}

.theme-toggle {
  font-size: 1rem;
  cursor: pointer;
}

/* Main Title */
.main-title {
  font-size: 5rem;
  font-weight: semibold;
  margin-bottom: 0.5rem;
}

/* Subtitle */
.subtitle {
  font-size: 1rem;
  color: rgba(75, 80, 83, 255); /* Dark grey background */
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  font-weight: semibold;
}

/* Styling the container */
.theme-toggle-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between text and image */
  cursor: pointer; /* Show pointer cursor on hover */
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 1rem;
}

.theme-toggle {
  font-weight: semibold;
}

/* Footer */
.footer {
  padding: 40px 20px;
  background-color: #000;
  color: rgba(236, 236, 236, 255); /* Light grey content background */
  text-align: center;
  margin-bottom: 0px;
  width: 100%;
  margin-top: 45rem;
}

.footer-top {
  margin-bottom: 30px;
}

.footer-logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.footer-description {
  font-size: 1rem;
  margin: 10px 0;
  font-family: "Poppins", sans-serif;
}

.footer-social {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-social a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.footer-social a:hover {
  background-color: rgba(
    236,
    236,
    236,
    255
  ); /* Light grey content background */
  color: #000;
}

.footer-bottom {
  margin-top: 40px;
  font-size: 0.8rem;
  color: rgba(75, 80, 83, 255); /* Dark grey background */
  font-family: "Poppins", sans-serif;
}

/* ABOUT */
.leftSection {
  display: inline-block; /* Allows them to appear side by side */
  width: 52%;
  margin: 6% 0%;
  float: left;
  position: relative; /* Use relative positioning */
  top: 235px; /* Move it downward */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push content to the bottom */
  align-items: flex-start; /* Align content to the left */
}

.rightSection {
  display: inline-block; /* Allows them to appear side by side */
  width: 45%;
  float: right;
  position: relative;
  bottom: 55px;
  padding-bottom: 0px;
}

.skills {
  font-weight: bold;
  text-align: center;
  margin: 0px 1px 1px 1px;

}

.aboutme {
  font-weight: bold;
  font-size: 4rem;
}

.aboutme,
.aboutmedesc {
  text-align: left; /* Align text to the left */
}

.aboutmedesc {
  font-size: 1rem;
  color: rgba(75, 80, 83, 255); /* Dark grey background */
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  font-weight: semibold;
}

.icons {
  border-spacing: 8px;
  padding: 0px 32px;
  text-align: center;
}

.iconsImg {
  margin: 11px 25px; /* Space around the images */
}

.back-to-home {
  display: inline-block;
  margin-bottom: 20px; /* Add spacing below the button */
  color: black; /* Text color */
  padding: 8px 12px; /* Button padding */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-size: 14px; /* Font size */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow */
  position: relative;
  right: 33rem;
}

.back-to-home:hover {
  background-color: rgba(75, 80, 83, 255);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Intense shadow on hover */
}

.curvedArrow{
  position: absolute;
  right: 400px;
  top: 0px;
  width: 70px;
  transform: scaleX(-1) rotate(355deg);
}

.textbox{
  position: absolute;
  left: 160px;
  top: 80px;
  padding: 0px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: semibold;
  font-size: 1rem;
  color: rgba(75, 80, 83, 255);
}


/* WORK  */


/* CONTACT */
.leftSectioncontact {
  display: inline-block; /* Allows them to appear side by side */
  width: 40%;
  margin: 6% 0%;
  float: left;
  position: relative; /* Use relative positioning */
  top: 235px; /* Move it downward */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Push content to the bottom */
  align-items: flex-start;
}

.rightSectioncontact {
  display: inline-block; /* Allows them to appear side by side */
  width: 50%;
  float: right;
  position: relative;
  bottom: 55px;
  padding-bottom: 0px;
  /* background-color: blue; */
}


.back-to-homecontact {
  display: inline-block;
  margin-bottom: 20px; /* Add spacing below the button */
  color: black; /* Text color */
  padding: 8px 12px; /* Button padding */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline */
  font-size: 14px; /* Font size */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow */
  position: relative;
  right: 25.5rem;
}

.back-to-homecontact:hover {
  background-color: rgba(75, 80, 83, 255);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Intense shadow on hover */
}

.form-container {
  background: #fff ;
  padding: 20px 30px;
  border-radius: 10px;
  width: 503px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s ease-in-out;
}

input:focus, textarea:focus {
  border-color: #007BFF;
}

textarea {
  resize: none;
  height: 80px;
}

/* Checkbox Group Styles */
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.checkbox-button {
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background:  rgba(236,236,236,255);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.checkbox-button:hover {
  background: rgba(75, 80, 83, 255);
  color: #fff;
  border-color: rgba(75, 80, 83, 255);
}

.checkbox-button.active {
  background: #007BFF;
  color: #fff;
}

/* Submit Button */
.submit-button {
  background: rgba(75, 80, 83, 255);
  color: rgba(236,236,236,255); ;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.submit-button:hover {
  background: rgba(75, 80, 83, 255);
}
